<div class="mb-4" *ngIf="!loading">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Partida</th>
            <td class="text-info">PCNBi - Bienes</td>
            <td class="text-success">PCNMj - Material</td>
            <td class="text-danger">PCNMSj - Servicio</td>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partida of CFDIDoc.partidas">
            <td>{{partida.partida}}</td>
            <td>{{partida.pcnBienes}}</td>
            <td>{{partida.pcnMateriales}}</td>
            <td>{{partida.pcnServicios}}</td>
            <td>
              <a class="info p-0" 
                  [routerLink]="['/facturas/', partida.idCFDI, 'partidas', partida.idCFDI, 'detalle', partida.idCFDIDetalle, 'calculo', partida.idCFDI, partida.idCFDIDetalle]"
                  placement="top" 
                  ngbTooltip="Ver detalle">
                <i class="far fa-eye font-medium-3 mr-2"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!---Div a mostrar cuando estén cargando los datos-->
<div class="alert text-center" *ngIf="loading">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-circle-notch fa-spin fa-5x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>