.btn-save{
    background-color: #A0C334;
    color: #FFFFFF;
}

.btn-save:hover{
    background-color: #8FAD31;
}

.btn-cancel{
    background-color: #5D5D5D;
    color: #FFFFFF;
}

.btn-cancel:hover{
    background-color: #4C4C4C;
}