tr.fila-sin-hover:hover{
    background-color: transparent !important;
}

.fa-spin {
    color: #5D5D5D;
}

.badge-400-success {
    color: rgba(255, 255, 255, 0.87);
    background-color: #30CB91;
}

.badge-400-warning {
    color: rgba(255, 255, 255, 0.87);
    background-color: #FF9E78;
}

.badge-si {
    color: rgba(255, 255, 255, 0.87);
    background-color: #A0C334;
}

.badge-no {
    color: rgba(255, 255, 255, 0.87);
    background-color: #5D5D5D;
}