<div class="row">
  <div class="col-12 col-md-4" *ngFor="let calculo of calculoCN; let i = index">
    <div class="card">
      <img src="assets/img/icon_servicios.png" class="card-img-top" *ngIf="i == 0">
      <img src="assets/img/icon_material.png" class="card-img-top" *ngIf="i == 1">
      <img src="assets/img/icon_bienes.png" class="card-img-top" *ngIf="i == 2">
      <div class="card-header text-center pb-0">
        <span class="text-info">{{calculo.nombreFormula}}</span>
        <h5 class="mt-1">{{calculo.resultado}}</h5>

        <button type="button" class="btn btn-view" *ngIf="calculo.detalle.length > 0" (click)="openModalDetalles(content)">
          Ver detalles
        </button>
      </div>
    </div>

    <!---Modal "Ver Detalles del Cálculo"-->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title mb-0">Detalles del cálculo</h4>
        <a class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div class="modal-body">

        <dl>
          <dt>Nombre de la fórmula</dt>
          <dd>{{calculo.nombreFormula}}</dd>
       
          <dt>Definición</dt>
          <dd>{{calculo.definicion}}</dd>

          <dt>Resultado</dt>
          <dd>{{calculo.resultado}}</dd>
        </dl>

        <table class="table table-sm table-hover">
          <thead class="bg-head-gray">
            <tr>
              <td>Variable</td>
              <td>Valor</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of calculo.detalle">
              <td>{{detalle.variable}}</td>
              <td>{{detalle.valor | currency: 'MXN'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer mb-2">
        <button type="button" class="btn btn-cancel" (click)="d('Cross click')">Aceptar</button>
      </div>
    </ng-template>
    <!---End Modal "Ver Detalles del Cálculo"-->

  </div>
</div>

<!---Div cuando estén cargando los datos-->
<div class="alert text-center" *ngIf="loading">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-circle-notch fa-spin fa-5x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>