.modal-title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.btn-cancel {
    background-color: #5D5D5D;
    color: #FFFFFF;
}

.btn-cancel:hover {
    background-color: #4C4C4C;
}

.btn-save {
    background-color: #A0C334;
    color: #FFFFFF;
}

.btn-save:hover {
    background-color: #8FAD31;
}